{% extends './layout.twig' %}

{% block body %}

    <div class="row" id="main">
        <div id="left-pannel" class="col s12 m4 l4 xl3 row">
            <div id="sideNav" class="col s2 m2 l2 xl2">
                {% include './sideNav.twig' %}
            </div>
            <div id="options" class="col s10 m10 l10 xl10">
                <div>
                    <a href="/organization/{{ currentOrganization._id }}">Organization</a>
                    <hr style="margin: 0% 5%;">
                    <a href="/organization/{{ currentOrganization._id }}/workspaces">Workspaces</a>
                    <hr style="margin: 0% 5%;">
                    <a href="/organization/{{ currentOrganization._id }}/members">Members</a>
                </div>
            </div>
        </div>
        <div class="col s12 m8 l8 xl9">

            {% include './memberHeader.twig' %}

            <div class="col s12">
                <p>Member of the organization</p>
                <h5><span class="title">Owner</span></h5>
                <div class="user-block" style="display: inline-block; background-image: url('/user/image/{{ currentOrganization.Owner._id }}')">
                    <div style="width: 40px; height: 40px;">
                        <div class="circle-responsive">
                            <div class="circle-content">
                                {{ currentOrganization.Owner.completeName| first }}
                            </div>
                        </div>
                    </div>
                </div>
                <p style="display: inline-block">{{ currentOrganization.Owner.completeName }}</p>
                <h5><span class="title">Co-owner</span></h5>
                {% if (currentOrganization.Admins| length) == 0 %}
                    There is no admin
                {% endif %}
                {% for user in currentOrganization.Admins %}
                    <div style="display: block">
                        <div class="user-block" style="display: inline-block; background-image: url('/user/image/{{ currentOrganization.Owner._id }}')">
                            <div style="width: 40px; height: 40px;">
                                <div class="circle-responsive">
                                    <div class="circle-content">
                                        {{ user.completeName| first }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p style="display: inline-block">{{ user.completeName }}</p>
                        <p style="display: inline-block">Change Status</p>
                        <p style="display: inline-block">Remove</p>
                    </div>
                {% endfor %}
                <h5><span class="title">Members</span></h5>
                {% if (currentOrganization.Members|length) == 0 %}
                    There is no member
                {% endif %}
                {% for user in currentOrganization.Members %}
                    <div style="display: block">
                        <div class="user-block" style="display: inline-block; background-image: url('/user/image/{{ currentOrganization.Owner._id }}')">
                            <div style="width: 40px; height: 40px;">
                                <div class="circle-responsive">
                                    <div class="circle-content">
                                        {{ user.completeName| first }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p style="display: inline-block">{{ user.completeName }}</p>
                        <p style="display: inline-block">Change Status</p>
                        <p style="display: inline-block">Remove</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}

{% block css %}{% endblock %}

{% block js %}

{% endblock %}