{% extends './layout.twig' %}

{% block body %}

    <div class="row" id="main">
        <div id="left-pannel" class="col s12 m4 l4 xl3 row">
            <div id="sideNav" class="col s2 m2 l2 xl2">
                {% include './sideNav.twig' %}
            </div>
            <div id="options" class="col s10 m10 l10 xl10">
                <div>
                    <a href="/organization/{{ currentOrganization._id }}">Organization</a>
                    <hr style="margin: 0% 5%;">
                    <a href="/organization/{{ currentOrganization._id }}/workspaces">Workspaces</a>
                    <hr style="margin: 0% 5%;">
                    <a href="/organization/{{ currentOrganization._id }}/members">Members</a>
                </div>
            </div>
        </div>
        <div class="col s12 m8 l8 xl9">

            {% include './organizationHeader.twig' %}

            <div id="organization-settings" class="row">
                <div id="organization-image" style="background-image: url('/organization/image/{{ currentOrganization._id }}')" class="col s4">

                    <div class="file-field input-field">
                        <div class="change-organization">
                            <span>Edit</span>
                            <input type="file" name="image" accept="image/*">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" style="display: none">
                        </div>
                    </div>
                </div>
                <div style="position: relative;margin-top: 49px;margin-left: 15px;" class="col s8">
                    <input id="organization-name" type="text" value="{{ currentOrganization.name }}">
                    <i id="edit" class="material-icons">edit</i>
                </div>
            </div>

            <div id="organization-info">
                <p>
                    <u>Owner:</u>
                    {{ currentOrganization.Owner.completeName }}
                </p>
                <p>
                    <u>Date of creation:</u>
                    <span id="creation"></span></p>
                <p>
                    <u>Number of workspaces:</u>
                    {{ currentOrganization.Workspaces.length }}
                </p>
                <p>
                    <u>Number of member:</u>
                    {{ 1 + currentOrganization.Members|length + currentOrganizaiton.Admins|length }}
                </p>
            </div>


        </div>
    </div>
{% endblock %}

{% block css %}{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script>
      var dateOfCreation = "{{ currentOrganization.creation }}";
      dateOfCreation = new Date(dateOfCreation);
      const creation = document.getElementById('creation');
      creation.innerHTML = dateOfCreation ? moment(dateOfCreation).format('D/M/YYYY') : 'Non disponible';
      const image = document.getElementById("organization-image");
    </script>
{% endblock %}
