<div id="organization-block">
    <a href="/organization/{{currentOrganization._id}}">
        <div class="cube-container active">
            <div class="text-container">
                {{ currentOrganization.name|first |capitalize }}
            </div>
        </div>
    </a>
<hr>
</div>
<div id="workspaces-block" class="side-nav-scrollbar">
    <div id="list-workspaces-user">
        {% for workspace in userWorkspaces %}
            <div class="round-separator">
                <a href="/workspace/{{workspace._id}}" data-tooltip="{{ workspace.name }}" data-delay="50" data-position="right">
                    <div class="round-container">
                        <div class="text-container">
                            {{ workspace.name|first |capitalize }}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% if currentUser.rights > 4 %}    
    <a id="trigger-creation-workspace" class=" modal-trigger" href="#workspace-creation">
        <div class="round-container">
            <div class="text-container">
                +
            </div>
        </div>
    </a>
    {% endif %}
</div>
<div id="user-block">
    <hr>
    <a href="#user-options" class="modal-trigger">
        <div class="round-container">
            <div class="text-container">
                <i class="material-icons">person_outline</i>
            </div>
        </div>
    </a>
</div>
{% include 'modals/userSettings.twig' %}
{% include 'modals/createWorkspace.twig' %}
