{% extends './layout.twig' %}

{% block body %}

    <div class="row" id="main">
        <div id="left-pannel" class="col s12 m4 l4 xl3 row">
            <div id="sideNav" class="col s2 m2 l2 xl2">
                {% include './sideNav.twig' %}
            </div>
            <div id="options" class="col s10 m10 l10 xl10">
                <div>
                    <a href="/organization/{{ currentOrganization._id }}">Organization</a>
                    <hr style="margin: 0% 5%;">
                    <a href="/organization/{{ currentOrganization._id }}/workspaces">Workspaces</a>
                    <hr style="margin: 0% 5%;">
                    <a href="/organization/{{ currentOrganization._id }}/members">Members</a>
                </div>
            </div>
        </div>
        <div class="col s12 m8 l8 xl9">

            <div id="organization-header" class="row" style="margin: 0;">
                <div class="col s4" style="padding: 0">
                    <button class="dropdown-button" style="width: auto" data-beloworigin="true" data-activates='workspaces-dropdown'>
                        <div class="workspaces-title">
                            {{ currentOrganization.name }}
                            <i style="vertical-align: center" class="material-icons arrow_drop_down">arrow_drop_down</i>
                        </div>
                    </button>
                </div>

                <div class="col s4 push-s8">
                    <a class="waves-effect waves-light btn">Add a new workspace</a>
                </div>

            </div>


            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        {% for workspace in currentOrgazation.workspaces %}
                            <li class="tab col s3">
                                <a href="#{{workpsace._id}}">{{workspace.name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {% for workspace in currentOrgazation.workspaces %}
                <div id="{{workspace._id}}" class="col s12">
                    <div class="row">
                        <div class="iconOrganization"></div>
                        <input type="text">
                    </div>
                    <div class="col s12">
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field col s12">
                                    <textarea name="description-project" id="description" cols="30" rows="10">{{ workspace.description }}</textarea>
                                    <label for="description">Description of the project
                                        <a href="#">
                                            <i>create</i>
                                        </a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <h6>Teamates</h6>
                        <i>person_add</i>
                        <h8>Project Manager</h8>
                        {% for user in workspace.users.projectManagers %}
                            <div style="background-image=url('{{user._id}}')"></div>
                            <p>{{ user.completeName }}</p>
                            {% if currentUser.rights > 6 %}
                                <p>Change Status</p>
                                <p>Remove</p>
                            {% endif %}
                        {% endfor %}

                        <h8>Members</h8>
                        {% for user in workspace.users.members %}
                            <div style="background-image=url('{{user._id}}')"></div>
                            <p>{{ user.completeName }}</p>
                            {% if currentUser.rights > 6 %}
                                <p>Change Status</p>
                                <p>Remove</p>
                            {% endif %}
                        {% endfor %}

                        <h8>Observers</h8>
                        {% for user in workspace.users.observer %}
                            <div style="background-image:url('/user/image{{user._id}}')"></div>
                            <p>{{ user.completeName }}</p>
                            {% if currentUser.rights > 6 %}
                                <p>Change Status</p>
                                <p>Remove</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>
{% endblock %}

{% block css %}{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script>
      var dateOfCreation = "{{ currentOrganization.creation }}";
      dateOfCreation = new Date(dateOfCreation);
      const creation = document.getElementById('creation');
      creation.innerHTML = dateOfCreation ? moment(dateOfCreation).format('D/M/YYYY') : 'Non disponible';
      const image = document.getElementById("organization-image");
    </script>
{% endblock %}

