{% extends './layout.twig' %}

{% block body %}

    <div class="row" id="main">
        <div id="left-pannel" class="col s12 m4 l4 xl3 row">
            <div id="side-nav" class="col s2 m2 l2 xl2">
                {% include './sideNav.twig' %}
            </div>
            <div id="options" class="col s10 m10 l10 xl10">
                <div>
                    <a href="/organization/{{ currentOrganization._id }}">Organization</a>
                    <hr style="margin: 0% 5%;">
                    <a class="disabled" href="/organization/{{ currentOrganization._id }}/workspaces">Workspaces</a>
                    <hr style="margin: 0% 5%;">
                    <a href="/organization/{{ currentOrganization._id }}/members">Members</a>
                </div>
            </div>
        </div>
        <div class="col s12 m8 l8 xl9" style="height: 100%">

            {% include './header.twig' %}
            <div class="col s12">
                <div class="row overflow-hide">
                    <div class="col s12">
                        <ul class="tabs">
                            {% for workspace in workspaces %}
                                <li class="tab">
                                    <a href="#{{ workspace._id }}-tabs" class="active workspace-list truncate">{{ workspace.name }}</a>
                                </li>
                            {% endfor %}
                            {% if currentUser.rights > 4 %}
                                <li class="tab">
                                    <a target="_blank" class="modal-trigger" href="#workspace-creation" style="text-transform: none; color: #4A90E2;">+ Add Workspace</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    {% for workspace in workspaces %}
                        <div id="{{ workspace._id }}-tabs" class="col s12">
                            <div class="overflow-content">
                                <div class="container">
                                    <div class="list-user col s12">
                                        <form action="/workspace/{{ workspace._id }}/information" method="post">
                                            {#
                                                <div id="organization-image" class="col s4">
                                                    {% if (user.rights > 4 or workspace.isProductManager) %}
                                                    <div class="file-field input-field">
                                                        <div class="change-organization">
                                                            <span>Edit</span>
                                                            <input type="file" name="image" accept="image/*">
                                                        </div>
                                                        <div class="file-path-wrapper">
                                                            <input class="file-path validate" type="text" style="display: none">
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            #}
                                            {% set randomValue = random() %}
                                            {% set random2Value = random() %}
                                            <div style="position: relative;margin-top: 49px; {#margin-left: 15px;#}">
                                                <input id="workspace-name-{{randomValue}}" name="name" type="text" value="{{ workspace.name }}" {% if not (currentUser.rights > 4 or workspace.isProductManager) %} disabled="disabled" style="color: black" {% endif %}>
                                                {% if (currentUser.rights > 4 or workspace.isProductManager) %}
                                                    <i id="edit" class="material-icons">edit</i>
                                                {% endif %}
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <textarea id="textarea-{{random2Value}}" name="description" class="materialize-textarea">{{ workspace.description }}</textarea>
                                                    <label for="textarea-{{random2Value}}">Description</label>
                                                </div>
                                                {% if (currentUser.rights > 4 or workspace.isProductManager) %}
                                                    <button class="btn btn-normal cancel right" type="submit">SAVE
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </form>
                                        <div id="workspace-{{workspace._id}}" class="bloc col s12">
                                            {% include './workspaceUserList.twig' %}
                                        </div>
                                    </div>
                                    <div class="bloc col s12">
                                        {% if currentUser.rights > 4 %}
                                            <a class="btn btn-normal modal-trigger separator col s12 m12 l5" workspaceid="{{workspace._id}}" href="#confirm-workspace-delete">Delete the workspace</a>
                                        {% endif %}
                                        {% if workspace.userRights %}
                                            <a class="btn btn-normal modal-trigger separator col s12 m12 l5 push-l1" workspaceid="{{workspace._id}}" href="#confirm-workspace-leave">Leave The Workspace</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include 'modals/invitationWorkspace.twig' %}
{% include 'modals/confirmWorkspaceLeave.twig' %}
{% include 'modals/confirmWorkspaceDeletion.twig' %}

{% endblock %}

{% block css %}{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script src="/js/settings/deleteWorkspace.js"></script>
<script>
    $(document).ready(function () {
        $('ul.tabs').tabs();
    });
</script>
<script src="/js/settings/invitationWorkspace.js"></script>
{% endblock %}
