<h1>Hello {{ completeName }} !</h1>
<h4>You've been invited to participate to  the <b>{{ workspace.name }}</b> 3D Workspace  by <i>{{ author }}</i></h4>
<p>Please, Join It : </p><a href="{{ url }}"><b>{{ workspace.name }}</b></a>
