{% extends 'layout_nonavbar.twig' %}

{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/hub.css">
    <link rel="stylesheet" href="/css/accordion.css">
    <link rel="stylesheet" href="/css/dropdown.css">
    <link rel="stylesheet" href="/css/tabs.css">
    <link rel="stylesheet" href="/css/viewer.css">
    <link rel="stylesheet" href="/css/hub/content.css">
    <link rel="stylesheet" href="/css/hub/location.css">
    <link rel="stylesheet" href="/css/hub/activity.css">
    <link rel="stylesheet" href="/css/hub/specs.css">
    <link rel="stylesheet" href="/css/hub/invitePeople.css">
{% endblock %}

{% block title %}{{ title }}{% endblock title %}

{% block body %}
    <div id="hub" class="row">
        {% include "./hub/invitePeople.twig" %}

        <div id="second_column" class="col s4">
            <div id="side-nav" class="col s2">
                {% include "./hub/listWorkspaces.twig" %}
            </div>
            <div class="col s10">
                <div class="data-header">
                    <i class="material-icons favorite" style="color: #9b9b9b; font-size:10px;">star</i>{{ data_header }}
                    <img class="triple-dots" data-activates='options-node'></img>
                </div>

                <ul id='options-node' class='dropdown-content'>
                    <!-- NODE MENU -->
                    {#
                    <li class="option-node">
                        <a class="dropdown-menu modal-trigger modal-node-selector" href="#create-new-node"> New node... </a>
                    </li>
                    <!-- Create empty node -->#}
                    <li class="option-node">
                        <a class="dropdown-menu modal-trigger modal-node-selector" href="#import-part"> New Part... </a>
                    </li>
                    <!-- display panel create new part US2 -->
                    <li class="option-node">
                        <a class="dropdown-menu modal-trigger modal-node-selector" href="#import-assembly"> New Assembly... </a>
                    </li>
                    <li class="option-node">
                        <a class="dropdown-menu modal-trigger modal-node-selector" href="#upload-file3d"> Duplicate Part/Assembly </a>
                    </li>
                    <!-- display panel create new assemby US2 -->
                    <li class="divider"></li>
                    <!-- CONTENT MENU -->
                    <li class="option-node">
                        <a class="dropdown-menu modal-trigger modal-node-selector" href="#upload-file3d"> Update 3D file... </a>
                    </li>
                    <!-- display panel create new assemby -->
                    <li class="divider"></li>
                    <li class="option-node"> <a class="dropdown-menu part-editor">Edit Part</a> </li>

                    <!-- display local explorer window -->


                    {#
                    <li class="option-node">
                        <a class="dropdown-menu modal-trigger modal-node-selector" href="#import-specfiles"> Import file...</a>
                    </li>
                    <!-- display local explorer window -->
                    <li class="divider"></li>
                    <!-- MORE ACTIONS MENU voir menu déroulant dans gdrive -->
                    <li class="option-node">
                        <a class="dropdown-menu modal-trigger modal-node-selector" href="#insert-part"> Insert existing part</a>
                    </li>
                    <li class="option-node">
                        <a class="dropdown-menu modal-trigger modal-node-selector" href="#insert-assembly"> Insert existing Assembly</a>
                    </li> --> #}
                </ul>

                {# Modals #} {# {% include "modals/create_part.twig" %} #}
                {% include "modals/new_node.twig" %}
                {% include "modals/import_part.twig"%}
                {% include "modals/import_assembly.twig" %}
                {% include "modals/upload_files3d.twig" %}
                {# {% include "modals/import_specfiles.twig"%} #}

                <div id="second_column_content" class="clear">
                    {% include "hub/search.twig" %}
                    {% include "hub/node_tree.twig" %}
                    {% include "hub/location.twig" %}
                    {% include "hub/content.twig" %}
                </div>
            </div>
        </div>

        <div id="third_column" class="col s8">
            {% include "hub/third_collumn_header.twig" %}

            <div id="third_column_content">
                {% include 'hub/viewer.twig' %}
                {% include "hub/tabs.twig" %}
                <input id="activity-uploader" style="display: none" type="file">
            </div>
        </div>

    </div>
{% endblock %}


{% block js %}
    <script>
        var workspaceId = "{{ in_use.id }}";
        var idOfchoosenNode = undefined;
        var NodeTypeEnum = {{ NodeTypeEnum }};
        var ViewTypeEnum = {{ ViewTypeEnum }};
        var view = ViewTypeEnum.location;
        socket.emit("joinWorkspace", workspaceId);
        $(".workspace-change").on("click", function () {
            socket.emit("leaveWorkspace", workspaceId);
        })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="/js/hub.js"></script>
    <script src="/js/hub/accordion.js"></script>
    <script src="/js/hub/tabs.js"></script>
    <script src="/js/hub/content.js"></script>
    <script src="/js/hub/location.js"></script>
    <script src="/js/hub/modals.js"></script>
    <script src="/js/hub/activity.js"></script>
    <script src="/js/hub/specs.js"></script>
    <script src="/js/hub/invitePeople.js"></script>
    <script src="/js/contextMenu.js"></script>
    <script src="/js/hub/nodeTreeContextMenu.js"></script>
    <script src="/js/initial.js"></script>
    {% include "require_viewer.twig" %}
{% endblock %}
