{% extends 'layout_nonavbar.twig' %}

{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/hub.css">
    <link rel="stylesheet" href="/css/accordion.css">
    <link rel="stylesheet" href="/css/dropdown.css">
    <link rel="stylesheet" href="/css/tabs.css">
    <link rel="stylesheet" href="/css/viewer.css">
    <link rel="stylesheet" href="/css/hub/content.css">
    <link rel="stylesheet" href="/css/hub/location.css">
    <link rel="stylesheet" href="/css/hub/activity.css">
    <link rel="stylesheet" href="/css/hub/specs.css">
    <link rel="stylesheet" href="/css/hub/invitePeople.css">
{% endblock %}

{% block title %}{{ title }}{% endblock title %}

{% block body %}
    <div id="hub" class="row">
        {% include "./hub/invitePeople.twig" %}

        <div id="second_column" class="col s12 m12 l4 xl3">
            <div id="side-nav" class="col s3 m4 l4 xl4">
                {% include "./hub/listWorkspaces.twig" %}
            </div>
            <div class="col s9 m8 l8 xl9">

                <button class="dropdown-button" data-beloworigin="true" data-activates='workspaces-dropdown'>
                    <div>
                        {{ in_use.name }}
                        <i class="tiny material-icons">arrow_drop_down</i>
                    </div>
                    <div class="username-dropdown">
                        {{ user }}
                    </div>
                </button>

                <ul id="workspaces-dropdown" class="dropdown-content">
                    <li class="option-node" id="manage-user">
                        <a class="dropdown-menu">Manage User</a>
                    </li>
                    <li class="option-node" id="invite-people-btn">
                        <a class="dropdown-menu">Invite people</a>
                    </li>
                    <li class="option-node">
                        <a class="dropdown-menu" href="/signOut">Sign Out</a>
                    </li>
                </ul>

                {# Modals #}
                {# {% include "modals/create_part.twig" %} #}
                {# {% include "modals/new_node.twig" %} #}
                {# {% include "modals/import_specfiles.twig"%} #}

                {% include "modals/import_part.twig"%}
                {% include "modals/import_assembly.twig" %}
                {% include "modals/upload_files3d.twig" %}
                {% include "modals/createWorkspace.twig" %}

                <div id="second_column_content" class="clear">
                    {# 
                    {% include "hub/search.twig" %} 
                    {% include "hub/location.twig" %}
                    {% include "hub/content.twig" %}
                    #}
                    {% include "hub/nodeThree.twig" %}
                    {% include "hub/fileThree.twig" %}
                    
                </div>
            </div>
        </div>

        <div id="third_column" class="col s12 m12 l8 xl9">
            {% include "hub/header.twig" %}
            <div id="third_column_content" class="row">
                    {% include 'hub/viewer.twig' %}
                    {% include "hub/sideNav.twig" %}
                {#
                {% include "hub/tabs.twig" %}
                <input id="activity-uploader" style="display: none" type="file">                
                #}
            </div>

        </div>

    </div>
{% endblock %}


{% block js %}
    <script>
      var workspaceId = "{{ in_use.id }}";
      var idOfchoosenNode = undefined;
      var NodeTypeEnum = {{ NodeTypeEnum }};
      var ViewTypeEnum = {{ ViewTypeEnum }};
      var view = ViewTypeEnum.location;
      socket.emit("joinWorkspace", workspaceId);
      $(".workspace-change").on("click", function () {
        socket.emit("leaveWorkspace", workspaceId);
      });
      var l = 42;
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="/js/socket.io-file-client.js"></script>
    <script src="/js/fileUploader.js"></script>
    <script src="/js/hub.js"></script>
    <script src="/js/hub/accordion.js"></script>
    <script src="/js/hub/tabs.js"></script>
    <script src="/js/hub/content.js"></script>
    <script src="/js/hub/location.js"></script>
    <script src="/js/hub/modals.js"></script>
    <script src="/js/hub/activity.js"></script>
    <script src="/js/hub/specs.js"></script>
    <script src="/js/hub/invitePeople.js"></script>
    <script src="/js/contextMenu.js"></script>
    <script src="/js/hub/nodeTreeContextMenuEvents.js"></script>
    <script src="/js/initial.js"></script>
    <script src="/js/hub/createWorkspace.js"></script>
    {% include "require_viewer.twig" %}    
{% endblock %}
