{% extends 'layout_nonavbar.twig' %}

{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/hub.css">
    <link rel="stylesheet" href="/css/accordion.css">
    <link rel="stylesheet" href="/css/dropdown.css">
    <link rel="stylesheet" href="/css/tabs.css">
    <link rel="stylesheet" href="/css/viewer.css">
    <link rel="stylesheet" href="/css/hub/content.css">
    <link rel="stylesheet" href="/css/hub/location.css">
    <link rel="stylesheet" href="/css/hub/activity.css">
    <link rel="stylesheet" href="/css/hub/specs.css">
    <link rel="stylesheet" href="/css/hub/invitePeople.css">
    <link rel="stylesheet" href="/css/hub/manageWorkspace.css">
    <link rel="stylesheet" href="/css/hub/tchat.css">
    <link rel="stylesheet" href="/css/hub/tchat.css">
{% endblock %}

{% block title %}{{ title }}
{% endblock title %}

{% block body %}
    <div id="hub" class="row">
        {% include "./hub/invitePeople.twig" %}
        {% include "./hub/manageWorkspace/manageWorkspace.twig" %}

        <div id="second_column" class="col s12 m4 l4 xl3">
            <div id="side-nav" class="col s2 m2 l2 xl2">
                {% include "./hub/listWorkspaces.twig" %}
            </div>
            <div class="col s10 m10 l10 xl10" id="structure">

                <button class="dropdown-button" href='#' data-beloworigin="true" data-activates='workspaces-dropdown'>
                    <div class="workspaces-title">
                        {{ in_use.name }}
                        <i class="material-icons arrow_drop_down">arrow_drop_down</i>
                    </div>
                    <div class="username-dropdown">
                        {{ user }}
                    </div>
                </button>

                <ul id="workspaces-dropdown" class="dropdown-content dropdown-nested">
                    <li class="option-node">
                        <a class="dropdown-menu dropdown-button" href='#' data-activates='dropdown-settings-viewer' data-hover="hover" data-alignment="left">
                            Viewer Settings
                            <i class='material-icons' style="float: right; margin: 0;">keyboard_arrow_right</i>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="option-node" id="manage-workspace-btn">
                        <a class="dropdown-menu">Settings</a>
                    </li>
                    <li class="option-node" id="invite-people-btn">
                        <a class="dropdown-menu">Invite people</a>
                    </li>
                    <li class="option-node" id="change-pwd-btn">
                        <a class="dropdown-menu">Change password</a>
                    </li>
                    <li class="option-node">
                        <a class="dropdown-menu" href="/signOut">Sign Out</a>
                    </li>
                    <li class="divider"></li>
                    <li class="option-node">
                        <a class="dropdown-menu modal-trigger" href="#report-issue-modal">Report an issue</a>
                    </li>
                    <!-- display panel create new assemby US2 -->
                    {# <li class="divider"></li>
                    <li class="option-node">
                        <a class="dropdown-menu modal-trigger modal-node-selector edit-part-btn" href="#edit-part">Edit Part</a>
                    </li> #}
                </ul>

                <ul id="dropdown-settings-viewer" class="dropdown-content dropdown-nested">
                    <li class="option-node" id="cell-shading-button">
                        <a class="dropdown-menu" href='?celShading={{optionViewer.celShading ? false : true}}'>Cel Shading{% if optionViewer.celShading == true %}
                                <i class='material-icons' style="margin: 0;">check</i>
                            {% endif %}
                        </a>
                    </li>
                    <li class="option-node" id="background-color">
                        <a class="dropdown-menu dropdown-button" href='#' data-activates='dropdown-settings-unit' data-hover="hover" data-alignment="left">
                            Workspace Units
                            <i class='material-icons' style="float: right; margin: 0;">keyboard_arrow_right</i>
                        </a>
                    </li>
                </ul>
                {% set unit = optionViewer.unit %}
                <ul id="dropdown-settings-unit" class="dropdown-content">
                    <li class="option-node" id="background-color">
                        <a class="dropdown-menu" {% if not (unit == 'm') %} href="?unit=m" {% endif %}>
                            m
                            {% if (unit == 'm') %}
                                <i class='material-icons' style="float: right; margin: 0;">check</i>
                            {% endif %}
                        </a>
                    </li>
                    <li class="option-node" id="background-color">
                        <a class="dropdown-menu" {% if not (unit == 'cm') %} href="?unit=cm" {% endif %}>
                            cm
                            {% if (unit == 'cm') %}
                                <i class='material-icons' style="float: right; margin: 0;">check</i>
                            {% endif %}
                        </a>
                    </li>
                    <li class="option-node" id="background-color">
                        <a class="dropdown-menu" {% if not (unit == 'mm') %} href="?unit=mm" {% endif %}>
                            mm
                            {% if (unit == 'mm') %}
                                <i class='material-icons' style="float: right; margin: 0;">check</i>
                            {% endif %}
                        </a>
                    </li>
                </ul>

                {# Modals #}
                {#
                    {% include "modals/create_part.twig" %}
                    {% include "modals/new_node.twig" %}
                    {% include "modals/import_specfiles.twig"%}
                #}

                {% include "modals/reportIssue.twig" %}
                {% include "modals/import_part.twig"%}
                {% include "modals/import_assembly.twig" %}
                {% include "modals/upload_files3d.twig" %}
                {% include "modals/createWorkspace.twig" %}
                {% include "modals/edit_part.twig" %}
                {% include "modals/changePassword.twig" %}

                <div id="second_column_content" class="clear">
                    <a id="show-social-space" href="#" class="waves-effect waves-light btn" style="z-index: inherit">
                        <i class="material-icons ">people</i>Social Space
                    </a>
                    {#
                        {% include "hub/search.twig" %}
                        {% include "hub/location.twig" %}
                        {% include "hub/content.twig" %}
                    #}
                    {% include "hub/nodeThree.twig" %}
                    {% include "hub/fileThree.twig" %}
                    {#{% include "hub/notesThree.twig" %}#}

                </div>
            </div>
        </div>

        <div id="third_column" class="col s12 m8 l8 xl9 ">
            {% include "hub/header.twig" %}
            {% include "hub/tchat.twig" %}
            <div id="third_column_content" class="row">
                {% include 'hub/viewer.twig' %}
                {% include 'hub/sideNav.twig' %}
                {% include 'hub/details.twig' %}

                <div id="note-card-form" class="row scale-transition scale-in" style="display: none;position: absolute">
                    <div class="card">
                        <div class="card-content">
                            <div class="input-field">
                                <input maxlength="25" placeholder="Insert title here..." id="note-title-input" type="text" class="validate">
                            </div>
                            <div class="input-field">
                                {#                                <input placeholder="Put your comments there.." id="note-content-input" type="text" class="validate">#}
                                <textarea maxlength="600" placeholder="Write your note (600 char. max)  " id="note-content-input" class="materialize-textarea"></textarea>
                            </div>
                            <div>
                                <input type="checkbox" class="check-with-label" id="check-if-important"/>
                                <label class="label-for-check" for="check-if-important">Important</label>
                            </div>
                        </div>
                        <div class="card-action">
                            <a href="#" id="post-note-button" class="waves-effect waves-teal btn-flat">Post</a>
                            <a href="#" id="cancel-note-button" class="waves-effect waves-teal btn-flat">Cancel</a>
                        </div>
                    </div>
                </div>
                {#
                    {% include "hub/tabs.twig" %}
                    <input id="activity-uploader" style="display: none" type="file">
                #}
            </div>

        </div>

    </div>
{% endblock %}

{% block js %}
    <!--suppress JSAnnotator -->
    <script>
        const workspaceId = "{{ in_use.id }}";
        let idOfchoosenNode = undefined;
        const NodeTypeEnum = {{ NodeTypeEnum }};
        var ViewTypeEnum = {{ ViewTypeEnum }};
        const optionViewer = {{ optionViewer }};
        var view = ViewTypeEnum.location;
        socket.emit("joinWorkspace", workspaceId);
        $(".workspace-change").on("click", function () {
            socket.emit("leaveWorkspace", workspaceId);
        });
        const l = 42;
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="/js/socket.io-file-client.js"></script>
    <script src="/js/fileUploader.js"></script>
    <script src="/js/getAvatar.js"></script>
    <script src="/js/hub.js"></script>
    <script src="/js/hub/accordion.js"></script>
    <script src="/js/hub/tabs.js"></script>
    <script src="/js/hub/content.js"></script>
    <script src="/js/hub/location.js"></script>
    <script src="/js/hub/modals.js"></script>
    <script src="/js/hub/activity.js"></script>
    <script src="/js/hub/specs.js"></script>
    <script src="/js/hub/notes.js"></script>
    <script src="/js/hub/invitePeople.js"></script>
    <script src="/js/hub/manageWorkspace.js"></script>
    <script src="/js/contextMenu.js"></script>
    <script src="/js/hub/nodeTreeContextMenu.js"></script>
    <script src="/js/initial.js"></script>
    <script src="/js/hub/createWorkspace.js"></script>
    <script src="/js/hub/actions.js"></script>
    <script src="/js/hub/changePassword.js"></script>
    <script src="/js/hub/tchat.js"></script>
    <script type="application/javascript">
        $('.profile').initial();
    </script>
    {% include "require_viewer.twig" %}
{% endblock %}