{% extends 'layout_nonavbar.twig' %}

{% block css %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/hub.css">
<link rel="stylesheet" href="/css/accordion.css">
<link rel="stylesheet" href="/css/dropdown.css">
<link rel="stylesheet" href="/css/tabs.css">
<link rel="stylesheet" href="/css/viewer.css">
{% endblock %}

{% block title %}{{ title }}{% endblock title %}

{% block body %}
<div class="row">
    <div id="first_column" class="col s3">
        
        <button class="dropdown-button" data-beloworigin="true" data-activates='workspaces-dropdown'>
            <div>
                {{ in_use.name }} <i class="tiny material-icons">arrow_drop_down</i>
            </div>
            <div class="username-dropdown">
                {{ user }}                
            </div>
        </button>
        
        <ul id="workspaces-dropdown" class="dropdown-content">
            {% for workspace in workspaces %}
            <li><a href="/project/{{workspace._id}}">{{ workspace.name }}</a></li>
            {% endfor %}
            <li><a href="/logout">Log Out</a></li>
        </ul>
        
        <div id="project-categories">
            <a href="/project/{{ in_use.id }}">
                <button class="not-a-button" {% if "All Parts" in title  %}     id="selected" {% endif %}>All parts<span class='right-align badge'>{{ all_parts }}</span></button>
            </a>
            <a href="/project/{{ in_use.id }}/updates">
                <button class="not-a-button" {% if "Last Updates" in title  %}  id="selected" {% endif %}>Last updates <span class='right-align badge'>{{ last_updates }}</span></button>
            </a>
            <a href="/project/{{ in_use.id }}/duplicates">
                <button class="not-a-button" {% if "Duplicates" in title  %}    id="selected" {% endif %}>duplicates<span class='right-align badge'>{{ duplicates }}</span></button>
            </a>
        </div>
        
    </div>
    
    <div id="second_column" class="col s3">
        <div class="data-header">
            <i class="material-icons favorite" style="color: #9b9b9b; font-size:10px;">star</i>{{ data_header }}            
            <img class="triple-dots" data-activates='options-node'></img>                             
        </div>
        
        {#  #}
        <ul id='options-node' class='dropdown-content'>
            <li class="option-node"  href="#create-part" > <a id="create-part-button">  Create new Part</a></li>
            <li class="option-node disabled-link" href="#create-assembly" > <a id="create-assembly-button">  Create new Assembly</a></li>
            <li class="option-node disabled-link"     href="#insert-part" > <a id="insert-part-button">  Insert existing part</a></li>
            <li class="option-node disabled-link" href="#insert-assembly" > <a id="insert-assembly-button">  Insert existing Assembly</a></li>
        </ul>
        
        {% include "hub/modal.twig" %}        
        
        <div id="second_column_content">
            {% include "hub/search.twig" %}
            {% include "hub/node_tree.twig" %}
            {% include "hub/content.twig" %}                     
        </div>
    </div>
    
    <div id="third_column" class = "col s6">
        {% include "hub/third_collumn_header.twig" %}
        
        <div id="third_column_content">
            {% include "hub/tabs.twig" %}
            {% include 'hub/viewer.twig' %}
        </div>
    </div>
</div>
</div>

{% endblock %}


{% block js %}
<script> var twignode = {{ node }} </script>
<script src="/js/hub.js"></script>
<script src="/js/hub/tabs.js"></script>
<script src="/js/hub/content.js"></script>
<script src="/js/accordion.js"></script>
{% include "require_viewer.twig" %}
{% endblock %}