<header>
    <nav class="navigation-bar" role="navigation">
        <div class="navigation-bar-card card-left">
            <a href="/home"><img class="nav-logo" src="/img/logo.png" alt""/></a>
        </div>
        <div class="navigation-bar-card navigation-bar-input">
            <input type="text" name="search" placeholder="Search..">
        </div>
        <div class="navigation-bar-card card-right">
            <a href="/home" class="top-controls" ><img class="" src="/img/home.svg" alt""/></a>
            <div class="dropdown top-controls">
                <div onclick="showdropdownNotif()" href="#" class="" data-toggle="tooltip" data-placement="bottom" title="Toogle the notifications dropdown"><img class="dropbtn" src="/img/notification.svg" alt""/></div>
                <div id="dropdownNotif" class="dropdown-content">
                    <a href="">Test</a>
                </div>
            </div>
            <div class="dropdown top-controls">
                <div onclick="showdropdownUser()" href="#" class="" data-toggle="tooltip" data-placement="bottom" title="Go to user profile or disconnect"><img class="dropbtn" src="/img/user.svg" alt""/></div>
                <div id="dropdownUser" class="dropdown-content">
                    <!-- TODO: Dynamise with user id -->
                    <a href="/profile/{{currentUser.id}}">Profile</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>

        </div>
    </nav>
</header>
<div class="home-content-bar" >
    <div class="home-subbar">
        <div class="home-subbar-left">
            <div class="dropdown new-button">
                <div onclick="showdropdownNew()" class="dropbtn">NEW
                    <div id="dropdownNew" class="dropdown-content">
                        {% if (assets_name != "projects")  %}
                        <a href="/new-branch/{{project_id}}" data-toggle="tooltip" data-placement="bottom" title="Click to create a new branch">Create a new branch</a>
                        <a href="/new-node/{{project_id}}" data-toggle="tooltip" data-placement="bottom" title="Click to create a new node">Create a new node</a>
                        {% else %}
                            
                        {% endif %}
                        <a href="/new-project" data-toggle="tooltip" data-placement="bottom" title="Click to create a new project">Create a new project</a>
                    </div>
                </div>
            </div>
            <div class="home-breadcrumb">
                <a href="/home">My Bocket</a> > <a href="/dashboard/{{project_id}}/">{{project_name}}</a>
            </div>
            <div class="topbar-controls-left">
                <div class="dropdown">
                    <div onclick="showdropdownTeam()" data-activates="dropdown-users" ><img class="controls-icon dropbtn" src="/img/Button-Team.svg" alt"" data-toggle="tooltip" data-placement="bottom" title="See all the users in the project"/></div>
                    <div id="dropdownTeam" class="dropdown-content">
                        {% for key, value in firstnames %}
                            <a href="">{{value}} {{lastnames[key]}} <span>{{emails[key]}}</span></a>
                        {% endfor %}
                    </div>
                </div>
                <a href="" data-activates="dropdown-historic" data-toggle="tooltip" data-placement="bottom" title="Click to see the history of the node"><img class="controls-icon" src="/img/historic.svg" alt""/></a>
                <a href="" data-activates="dropdown-branch"><img class="controls-icon" src="/img/branchv8.svg" alt="", data-toggle="tooltip" data-placement="bottom" title="Click to compare branches"/></a>
            </div>
        </div>
        <div class="home-subbar-right">
            <a href="/nomenclature/{{project_id}}"><img class="controls-icon" src="/img/button-3D.svg" alt"" data-toggle="tooltip" data-placement="bottom" title="Click to go to the 3D page"/></a>
            <a href="/dashboard/{{project_id}}"><img class="controls-icon" src="/img/button-dashboard.svg" alt="" data-toggle="tooltip" data-placement="bottom" title="Click to go to the dashboard"/></a>
            <div class="dropdown more-button">
                <div onclick="showdropdownMore()" class='dropdown-button' href='#'><img class="controls-icon dropbtn" src="/img/button-more.svg" alt="" data-toggle="tooltip" data-placement="bottom" title="Show more actions"/></div>
                    <div id='dropdownMore' class='dropdown-content'>
                        <a href="/pullrequests/{{project_id}}">Go to pull resquest</a>
                        <a href="/issues/{{project_id}}">Go to issue</a>
                        <a href="#!" data-toggle="tooltip" data-placement="bottom" title="Trigger the splitview">Split</a>
                        <a href="#!">Promote</a>
                    </div>
                </div>
            <a href=""><img id="sidebar-button" class="controls-icon" src="/img/button-info.svg" alt="" data-toggle="tooltip" data-placement="bottom" title="CLick to toggle the information sidebar"/></a>
        </div>
    </div>
</div>

{#
#
#
#                                POP-UP BUILD
#
#}

<div id="build" class="build modal">
    {% if list_node is not null %}
    <form action="/api/build/" method="post" id="build-form">
        <div class="modal-content">
            <a class='build-quit build-triger'>
                <p class ="right-align grey-bocket">&#10006;</p>
            </a> <br/>
                <h5 class="center-align grey-bocket">Build properties</h5>
                <input type="text" name="filename" placeholder="Insert a title"></input>
            <table>
                <thead>
                    <tr>
                        <th>Set</th>
                        <th>Part</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for node_child in list_node %}
                        <td><input type="checkbox" id="build-{{ node_child }}" name="{{ node_child }}" /></td>
                        <td> <label for="build-{{ node_child }}">{{ node_child }}</label> </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            <textarea id="build-textarea" class="materialize-textarea" type="text" placeholder="Add a comment" class="grey-bocket-background"></textarea>
        </div>
        <div class="modal-footer">
            <button type="submit" data-target="build" class="btn build-triger">Send</button>
        </div>
    </form>
    {% else %}
        <div class="modal-content">
            <p> This node has no child, build impossible </p>
            <button type="" data-target="build" class="btn build-triger">Close</button>
        </div>
{% endif %}
</div>
<div id="promote" class="modal">
    <div class="modal-content">
        <a class='build-quit build-triger'>
            <p class ="right-align grey-bocket">&#10006;</p>
        </a> <br/>
        {# Tiret #}
        <h5 class="center-align grey-bocket">
        {#
        {% if node.name is not null %}
        {{ project_name }} >> {{ node.name }}
        {% endif %}
        #}
        </h5>
        {# Tiret #}
        <label for>
    </div>
</div>