{% extends 'layout.twig' %}

{% block body %}
    {% include 'project-topbar.twig' %}
    {% include "sidebar.twig" %}
    <div id="main">
        <div class="pullrequest-content">
            <div class="pullrequest-content-top">
                <div class="pullrequest-content-top-new">
                    <button id="modalbutton" type="">New pull request</button>
                    <div id="pullrequest_modal" class="modal">
                        <div class="modal-content">
                            <span id="closepl" class="close">&times;</span>
                            <h2 class="modal-title">Create a pull request</h2>
                            <p id="branch-pl-error" class="error-pl-branches"> Error : The branches selected are the same</p>
                            <form class="modal-form">
                                <label for="source-branch">Source branch</label>
                                <select id="source-branch">
                                {% for key, value in branches %}
                                    <option value="{{branchesIds[key]}}">{{value}}</option> 
                                {% endfor %}
                                </select>
                                <label for="dest-branch">Destination branch</label>
                                <select id="destination-branch">
                                {% for key, value in branches %}
                                    <option value="{{branchesIds[key]}}">{{value}}</option> 
                                {% endfor %}
                                </select>
                                <p id="title-error" class="error-pl-text">Title cannot be empty..</p>
                                <label for="pullrequest-title">Title</label>
                                <input type="text" name="pullrequest-title" id="pullrequest-title" placeholder="Enter title here..">
                                <p id= "description-error"class="error-pl-text">Description cannot be empty..</p>                            
                                <label for="dest-branch">Description</label>
                                <textarea name="Text1" cols="40" rows="5" id="pullrequest-description" placeholder="Enter description here.."></textarea>                            
                                <div id="pl-submitbtn" class="issues-button"  type="">Continuer</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <table class="issues-table">
                <tr>
                    <th class="issue-title">Title</th>
                    <th class="issue-title">Description</th>
                </tr>
                {% for key, value in titles %}
                    <tr>
                        <td class="issue-title"><a href="/pullrequest/{{ project_id }}/{{ pullResquestsIds[key] }}">{{value}} </a></td>
                        <td>{{contents[key]}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}