<div id="content">
    <h5>Content         <span>{% verbatim %} <img :src="url" alt=""> {{ title }}{% endverbatim %}</span></h5>
    <p>Maturity :       <span>{% verbatim %} <div v-bind:style="styleObject" ></div> {{ maturity }}{% endverbatim %}</span></p>
    <p>Owners :         <span>{% verbatim %} <div class="chips"> <img v-for="(user, index) in users" v-bind:src="user.url" alt="user.name"> </div> {% endverbatim %}</span></p>
    <p>Organization     <span>{% verbatim %} {{organization}} {% endverbatim %}</span></p>
    <p>Where Used :     <span>{% verbatim %} {{used}} {% endverbatim %}</span></p>
    <p>Quality :        <span>{% verbatim %} {{pourcent}} {% endverbatim %}</span></p>
</div>