<div id="content" class="hide view viewNotHover">
    <div class="row">
        <div class="col s3 offset-s1"><h5>Content</h5></div>
        <div class="col s4 offset-s4"> <img id="content-img-title" alt=""> <span id="content-title"> {% verbatim %} {{ title }} {% endverbatim %}</span></div>
    </div>
    <div class="row">
        <div class="col s5 offset-s1"><p>Description :</p></div>
        <div class="col s4 offset-s2"> {% verbatim %} <p id="content-description" style="description"> {{ description }} <p> {% endverbatim %} </div>
    </div>
   <div class="row">
        <div class="col s5 offset-s1"><p>Creation Date :</p></div>
        <div class="col s4 offset-s2"> {% verbatim %} <p style="created"> {{ created }} <p> {% endverbatim %} </div>
    </div>
   <div class="row">
        <div class="col s5 offset-s1"><p>Creator :</p></div>
        <div class="col s4 offset-s2"> {% verbatim %} <p style="organization"> {{ creator }} <p> {% endverbatim %} </div>
    </div>
    <div class="row">
        <div class="col s5 offset-s1"><p>Owner Organization :</p></div>
        <div class="col s4 offset-s2"> {% verbatim %} <p style="organization"> {{ organization }} <p> {% endverbatim %} </div>
    </div>
</div>