<div id="organization-block">
    <div id="container-organization">
        <a href="/organization/{{currentOrganization._id}}">
            <div class="cube-container">
                <div class="text-container">
                    {{ currentOrganization.name|first |capitalize }}
                </div>
            </div>
        </a>
    </div>
    <hr>
</div>
<div id="workspaces-block" class="side-nav-scrollbar">
    <div id="list-workspaces-user">
        {% for workspace in workspaces %}
            <div class="round-separator">
                <a href="/workspace/{{workspace._id}}" data-tooltip="{{ workspace.name }}" data-delay="50" data-position="right">
                    {% if in_use.id.equals(workspace._id) %}
                        <div class="round-container active">
                            <div class="text-container">
                                {{ workspace.name|first |capitalize }}
                            </div>
                        </div>
                    {% else %}
                        <div class="round-container">
                            <div class="text-container">
                                {{ workspace.name|first |capitalize }}
                            </div>
                        </div>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
    {#
    <a id="trigger-creation-workspace" class=" modal-trigger" href="#workspace-creation">
        <div class="round-container">
            <div class="text-container">
                +
            </div>
        </div>
    </a>
    {% include 'modals/createWorkspace.twig' %}
    #}
</div>
<div id="user-block">
    <hr>
    <div id="container-user">
        <a href="/user">
            <div class="round-container">
                <div class="text-container">
                    <i class="material-icons">person_outline</i>
                </div>
            </div>
        </a>
    </div>
    <p id="nom-user" class="truncate">
        {{currentUser.completeName}}
    </p>
</div>
{% include 'modals/userSettings.twig' %}
