
<div id="list-workspace" class="collection collection-manager bocket-scrollbar" style="max-height: 90% !important; padding: 0px !important; margin: 0px !important;">
    {% set colors = ["#002b36", "#073642", "#586e75", "#839496", "#93a1a1", "#eee8d5", "#fdf6e3", "#b58900"] %}
    {% set i = 1 %}
    {% for workspace in workspaces %}
        {% if (workspace.id == in_use.id) %}
            <div class="icon-list-workspace" style="background-color: {{ color[i] }};">
                <p class="first-letter-workspace">{{ workspace.name|first |capitalize }}</p>
            </div>
        {% else %}
            <a class="collection-item collection-item-workspace" style="min-height: auto !important; padding: 0px !important;" href="/project/{{workspace._id}}">
                {% if (workspace.image) %}

                {% else %}
                    <div class="icon-list-workspace" style="background-color: {{ color[i] }};">
                        <p class="first-letter-workspace">{{ workspace.name|first |capitalize }}</p>
                    </div>
                {% endif %}
                <p style="font-size: 50%; color: white; text-align: center;">{{ workspace.name }}</p>
            </a>
            {#
            {% if (i > colors.length) %}
                {% set i = 0 %}
            {% else %}
                {% i++ %}
            {% endif %}
            #}

        {% endif %}
    {% endfor %}
    <a class="collection-item avatar collection-item-workspace modal-trigger" style="min-height: auto !important; padding: 0px !important;" href="#">
        <i class="tiny material-icons" style="font-size: 1rem !important;">add</i>
        <p style="font-size: 70%; color: white; ">Add Workspace</p>
    </a>
</div>
