{#
users  =>
{
ProductMannagers
Teammates
Observers
Rights
}

#}

<h6>Members</h6>
{% if (users.Teammates | length) == 0 %}
    <p>There is no Member</p>
{% endif %}
<div class="col s12">
    {% for teammate in users.Teammates %}
        <div class="row">
            <div class="user-block left" style="display: inline-block">
                <div style="width: 40px; height: 40px;">
                    <div class="circle-responsive">
                        <div class="circle-content" style="color: black!important;">
                            {{ teammate.completeName |first |capitalize }}
                        </div>
                    </div>
                </div>
            </div>
            <p class="user-name left">{{ teammate.completeName }}</p>
            {% if (user.rights > 4 or user.isProductmanager) %}
                <div class="input-field col s3 push-s2" style="height: 21.75px; margin: 0">
                    <select userId="{{teammate._id}}">
                        <option value="" disabled="disabled">Choose your option</option>
                        <option value="ProductManagers" selected="selected">Product Manager</option>
                        <option value="Teammates" selected>Member</option>
                        <option value="Observers">Observer</option>
                    </select>
                </div>
                <div class="col s4 push-s2">
                    <a href="#!" class="right" style="display: inline-block; margin-top: 10px">Remove</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
<h6>Observers</h6>
{% if (users.Observers | length) == 0 %}
    <p>There is no Observer</p>
{% endif %}
<div class="col s12">
    {% for observer in users.Observers %}
        <div class="row">
            <div class="user-block left" style="display: inline-block">
                <div style="width: 40px; height: 40px;">
                    <div class="circle-responsive">
                        <div class="circle-content" style="color: black!important;">
                            {{ observer.completeName |first |capitalize }}
                        </div>
                    </div>
                </div>
            </div>
            <p class="user-name left">{{ observer.completeName }}</p>
            {% if (user.rights > 4 or user.isProductmanager) %}
                <div class="input-field col s3 push-s2" style="height: 21.75px; margin: 0">
                    <select userId="{{observer._id}}">
                        <option value="" disabled="disabled">Choose your option</option>
                        <option value="ProductManagers">Product Manager</option>
                        <option value="Teammates">Member</option>
                        <option value="Observers" selected>Observer</option>
                    </select>
                </div>
                <div class="col s4 push-s2">
                    <a href="#!" class="right" style="display: inline-block; margin-top: 10px">Remove</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
