<ul class="collapsible" data-collapsible="accordion">
    {% for manager in Manager %}
        <li>
            <div class="collapsible-header">
                <div class="col s12">
                    <h5 class="left">
                        {{manager.Organization.name}}
                    </h5>
                    <a href="/organization/{{manager.Organization._id}}" class="btn btn-normal right">Access to this organization</a>
                </div>
            </div>
            <div class="collapsible-body">
                <ul class="collection">
                    {% for Workspace in manager.Workspaces %}
                        <li class="collection-item">
                            {{Workspace.name}}
                            <a href="/workspace/{{Workspace._id}}" class="secondary-contents">
                                <a href="/workspace/{{Workspace._id}}" class="btn btn-normal fix">Go to this workspace</a>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    {% endfor %}
</ul>
