<div class="row colla">
    <ul class="collapsible" data-collapsble="accordion">
        {% if node.children %}
        {% for child in node.children %}
            <li>
                {% if node.type == TypeEnum.assembly %}
                    <div id="{{ node._id }}" class="collapside-header node has-child valign-wrapper ">
                        <i {#v-on:click="loadNodeChild('{{ node._id }}')"#} class="material-icons assembly">keyboard_arrow_right</i>
                        <img class="responsive-img pad-right" src="/img/07-Assembly icon.svg">
                        <a class="a-node" {#v-on:click="loadNodeInformation(String({{ node._id }}))"#} data-breadcrumbs="{{ breadcrumbs }}" data-sublevel={{ sub_level }}>{{ node.name }}</a>
                    </div>
                {% else %}
                    <div class="collapside-header node no-child valign-wrapper group-{{ sub_level }}">
                        <img class="responsive-img pad-right" src="/img//img/07-Part icon.svg">
                        <a class="a-node" {#v-on:click="loadNodeInformation('{{ node._id }}'))"#} data-breadcrumbs="{{ breadcrumbs }}" data-sublevel={{ sub_level }}>My Bocket by config</a>
                    </div>
                {% endif %}
                <div id="{{ node._id }}" class="collapsible-body need-to-search">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            </li>
        {% endfor %}
        {% else %}
            <div class="collapside-header node no-child valign-wrapper group-{{ sub_level }}">
                <p>There is no node</p>
            </div>
        {% endif %}
    </ul>
</div>
